@import "src/styles/breakpoints";

.body {
  padding: 110px 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
  @include Large{
    // align-items: center;
    
    height: fit-content;
    padding: 0px 30px;
    justify-content: center;
  }
}
.heading {
  margin-bottom: 30px;
}


.customerDetails {
  display: flex;
  flex-direction: column;
  gap: 15px;
  @include Large {
    height: fit-content;
  }
  input {
    padding: 20px;
    background-color: #f5f7fa;
    border: none;
    font-weight: 600;
    &:focus-visible {
      outline: 3px solid #80bdff;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      cursor: pointer;
    }
  }
}
.buttonContainer{
  width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.formSubmit {
  margin-top: 24px;
  width: 400px;
  padding: 0px 7px;
  height: 55px;
  border: none;
  font-size: 17px;
  font-weight: 600;
  background-color: #fbb710;
  color: white;
  &:hover {
    transition: all 500ms ease 0s;
    background-color: black;
    color: white;
    cursor: pointer;
  }
  @include Medium{
    width: 300px;
  }
  @include Small{
    width: 200px;
  }
}
.registerMessage {
  text-transform: capitalize;
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: rgb(112, 109, 109); 
  transition: color 0.3s ease;
}
.message{
  border:1px solid;
}
.registerMessage:hover {
  color: rgb(2, 2, 2);
}
.errorMessage{
  color: red;
  @include Small{
    font-size: 18px;
  }
}

