.cartTotal{
    width: 310px;
    padding:20px;
    background-color: #f5f7fa;
    height: 391px;
    .heading{
        margin-bottom: 30px;
        font-size:18px;
        font-weight: 500;
    }    
}
.SubTotal{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.delievery{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.total{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.CheckOut{
    margin-top: 100px;
    width: 100%;
    padding: 0px 7px;
    height: 55px;
    border: none;
    font-size: 17px;
    font-weight: 600;
    background-color: #fbb710;
    color:white;
    &:hover{
        transition: all 500ms ease 0s;
        background-color: black;
        color: white;
        cursor: pointer;
    }
}