.body {
  padding: 100px 0px;
}
.breadCrumb {
  padding: 12px 16px;
  margin-top: 50px;
  margin-bottom: 16px;
  // padding: 0px 15px;
  font-size: 14px;
  font-weight: 450;
  text-transform: uppercase;
}
.root {
  display: flex;
}
.ProductContent {
  display: flex;
  flex-direction: column;
  padding: 0px 84px 0px 15px;
}
.activeCrumbTitle {
  color: #6b6b6b;
}
.line {
  width: 80px;
  height: 3px;
  background-color: #fbb710;
  display: block;
}
.img {
  padding: 0px 15px;
}
.heading {
  font-size: 24px;
  font-weight: 550;
  color: #fbb710;
  // margin-bottom: 10px;
}
.productTitle {
  font-size: 30px;
  font-weight: 500;
}
.rating {
  display: flex;
  justify-content: space-between;
}
.review {
  color: #6b6b6b;
  font-size: 14px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.discription {
  margin: 50px 0px;
  color: #6b6b6b;
  font-weight: 500;
  font-size: 15px;
}
.quantity {
  display: flex;
  position: relative;
  left: 10px;
}
.totalAmount {
  width: 135px;
  height: 40px;
  background-color: #f5f7fa;
  color: #6b6b6b;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  font-weight: 500;
}
.addToCart {
  margin-top: 40px;
  width: 310px;
  height: 80px;
  background-color: #fbb710;
  padding: 0px 7px;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 500;
  &:hover {
    background-color: black;
    transition: all 500ms ease 0s;
    cursor: pointer;
  }
}
.stockCheck {
  font-size: 12px;
  color: #6b6b6b;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
.availableStock {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #20d34a;
  border-radius: 50%;
  margin-right: 4px;
}
.img {
  height: 645px;
  width: 625px;
}
.reverse {
  transform: rotate(180deg);
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  button {
    border: none;
    background-color: transparent;
    height: 15px;
  }
}

.popup {
  height: 40px;
  width: 200px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: #fab711;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  animation: 0.5s slide-right;
}

@keyframes slide-right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}
.added {
  margin-top: 2px;
}
.popupMessage {
  font-size: 20px;
  line-height: 16px;
  color: white;
  text-transform: capitalize;
  font-weight: 500;
}
