@import 'src/styles/breakpoints';

.body {
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  @include ExtraLarge {
    padding: 40px 20px;
    width: calc(100% - 40px);
    max-width: 100%;
    min-height: 80vh;
  }
  
}
.heading {
  margin-bottom: 30px;
}
.customerDetails {
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: 15px;
  input, textarea {
    padding: 20px;
    background-color: #f5f7fa;
    border: none;
    font-weight: 600;
    &:focus-visible {
      outline: 3px solid #80bdff;
      box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
      cursor: pointer;
    }
  }
  @include ExtraLarge{
    width: 100%;
  }
}
.wrapper {
  display: flex;
  flex-direction: row;
  gap:30px;
  @include ExtraLarge{
    display: flex;
    flex-direction: column;
  }
}
.userName {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  @include Medium {
    gap: 20px;
  }
  input {
    width: 50%;
  }
}
.information {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  @include Medium {
    gap: 20px;
  }
  input {
    width: 50%;
  }
}
