@import 'src/styles/breakpoints';

.mobileHeader {
  @include Large {
    height: 50px;
    padding: 0px 15px;
    display: flex;
    align-items: center;
  }
}
.openButton {
  @include Large {

    padding: 6px;
    background-color: white;
    border: none;
  display:flex;
  flex-direction: column;
  gap: 4px;
  border: 1px solid #bbb;
  div {
    height: 2px;
    background-color: #000;
    width: 18px;
  }
}
}

.closeButtonBox {
  padding: 0px 15px;
  width: calc(100% - 30px);
  margin-bottom: 15px;
}
.root {
  padding: 60px 0px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include ExtraLarge {
    width: 200px;
  }
  @include Large {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    background-color: white;
    width: 250px;
    height: 100vh;
  }
}
@include Large {
  
.dontShowDrawer {
  display: none;
}
}
.blur {
  @include Large {
    width: 100%;
    position: absolute;
    top: 0px; 
    left: 0px;
    z-index: 50;
    height: 100vh;
    background-color: #000;
    opacity: 0.5;
  }
}
.brandLogo {
  height: 30px;
  margin-bottom: 50px;
  @include ExtraLarge {
    height: 20px;
  }
}
.indicator {
  height: 3px;
  width: 30px;
  background-color: #fff;
  position: absolute;
  left: 0px;
}
.navBar {
  margin-bottom: 29px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}
.listItem {
  padding: 20px 0px 20px 70px;
  list-style: none;
  text-transform: uppercase;
  font-weight: 550;
  font-size: 14px;
  display: flex;
  gap: 45px;
  align-items: center;
  position: relative;
  &:hover {
    .indicator {
      background-color: #fab711;
      animation: 0.5s slide-right;
    }
  }
  @keyframes slide-right {
    from {
      margin-left: -100%;
    }
    to {
      margin-left: 0%;
    }
  }
  a {
    text-decoration: none;
    color: #131212;
    &:hover {
      color: #fab711;
    }
  }
}
@keyframes slidein {
  from{
    width: 0px;
  }
  to {
    width: 30px;
  }
}
.active{
  a{
    color: #fab711;
  }
  .indicator {
    background-color: #fab711;
    animation: 0.5s slide-right;
  }
}
.serviceOptions {
  margin: 0px 75px;
  width:160px;
  @include ExtraLarge {
    width: fit-content;
  }
}
.serviceOptions li {
  list-style: none;
  font-weight: 500;
  font-size: 17px;
  transition: all 500ms ease 0s;
  padding: 15px 0px;
  color: #131212;
  &:hover {
    cursor: pointer;
  }
}
.icons {
  margin: 0 10px 0 0;
}
.serviceOption {
  display: flex;
  flex-direction: row;
}
.totalAmount {
  margin-left: 3px;
  color: #aab7c5;
}
