@import 'src/styles/breakpoints';

.body {
  padding: 110px 30px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex:1;

  @include Large{
    padding: 0px 30px;
    justify-content: center;
  }
  
}
.heading {
  margin-bottom: 30px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  flex:2;
  gap:30px;
  @include ExtraLarge{
    display: flex;
    flex:2;
    }
   
}
.container{
  display: flex;
  gap:30px;
  width: 100%;
  @include ExtraLarge{
    display: flex;
  }
  @include Medium{
    display: flex;
    flex-direction: column;
  }
}
.customerDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;

  input {
    padding: 20px;
    background-color: #f5f7fa;
    border: none;
    font-weight: 600;
    &:focus-visible {
      outline: 3px solid #80bdff;
      box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
      cursor: pointer;
    }
  }
  @include ExtraLarge{
    flex: 2;
  }
}
.userName {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  @include Medium {
    gap: 20px;
  }
  input {
    width: 50%;
  }
}
.buttonContainer{
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
}
.formSubmit {
  margin-top: 24px;
  width: 400px;
  padding: 0px 7px;
  height: 55px;
  border: none;
  font-size: 17px;
  font-weight: 600;
  background-color: #fbb710;
  color: white;
  &:hover {
    transition: all 500ms ease 0s;
    background-color: black;
    color: white;
    cursor: pointer;
  }
  @include Medium{
    width: 300px;
  }
  @include Small{
    width: 200px;
  }
}
.errorMessage{
  color: red;
  @include Small{
    font-size: 18px;
  }
}