.root{
   padding: 0px 15px; 
    margin-bottom: 45px;
   
}
.wrapper{
    padding-left:15px;
    width: 100%;
}
.productImage{
    max-width: 416px;
}

.content{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    align-items: center;
}
.price{
    font-size: 24px;
    color: #fab711;
    font-weight: 550;
    border-top:3px solid #fab711;
    width: 80px;
    margin-bottom: 10px;
    padding-top: 15px;
   }
   .name{
    font-weight: 500;
    font-weight: 16px;
   }
   .rightContent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
   }