.root {
  padding: 60px 0px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.brandLogo {
  height: 30px;
  margin-bottom: 50px;
}
.indicator {
  height: 3px;
  width: 30px;
  background-color: #fff;
  position: absolute;
  left: 0px;
}
.navBar {
  margin-bottom: 29px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}
.listItem {
  padding: 20px 0px 20px 70px;
  list-style: none;
  text-transform: uppercase;
  font-weight: 550;
  font-size: 14px;
  display: flex;
  gap: 45px;
  align-items: center;
  position: relative;
  &:hover {
    .indicator {
      background-color: #fab711;
      animation: 0.5s slide-right;
    }
  }
  @keyframes slide-right {
    from {
      margin-left: -100%;
    }
    to {
      margin-left: 0%;
    }
  }
  a {
    text-decoration: none;
    color: #131212;
    &:hover {
      color: #fab711;
    }
  }
}
@keyframes slidein {
  from{
    width: 0px;
  }
  to {
    width: 30px;
  }
}

.serviceOptions {
  margin: 0px 75px;
  width:160px;
}
.serviceOptions li {
  list-style: none;
  font-weight: 500;
  font-size: 17px;
  transition: all 500ms ease 0s;
  padding: 15px 0px;
  color: #131212;
  &:hover {
    color: #fab711;
  }
}
.icons {
  margin: 0 10px 0 0;
}
.serviceOption {
  display: flex;
  flex-direction: row;
}
.totalAmount {
  margin-left: 3px;
  color: #aab7c5;
}
